<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hw.DevHub.domain.users.mapper.UserMapper">
  <insert id="insertUser" parameterType="com.hw.DevHub.domain.users.dto.UserRequest$SignUpRequest">
    INSERT INTO users (email, password, name, phone_number, nickname)
    values (#{email}, #{password}, #{name}, #{phoneNumber}, #{nickname})
  </insert>

  <select id="existsByEmail" parameterType="String" resultType="boolean">
    SELECT EXISTS(SELECT email
                  FROM users
                  WHERE email = #{email})
  </select>
  <select id="existsByNickname" parameterType="String" resultType="boolean">
    SELECT EXISTS(SELECT nickname
                  FROM users
                  WHERE nickname = #{nickname})
  </select>

  <select id="existsByPhoneNumber" parameterType="String" resultType="boolean">
    SELECT EXISTS(SELECT phoneNumber
                  FROM users
                  WHERE phoneNumber = #{phoneNumber})
  </select>

  <select id="findByEmailAndPassword"
    parameterType="com.hw.DevHub.domain.users.dto.UserRequest$LoginRequest"
    resultType="User">
    SELECT user_id,
           email,
           password,
           name,
           phone_number,
           nickname,
           profile_message,
           profile_image_path
    FROM users
    WHERE email = #{email}
      AND password = #{password}
  </select>

  <select id="findByUserId" parameterType="Long" resultType="User">
    SELECT user_id,
           email,
           password,
           name,
           phone_number,
           nickname,
           profile_message,
           profile_image_path
    FROM users
    WHERE user_id = #{userId}
  </select>

  <select id="existsById" parameterType="Long" resultType="boolean">
    SELECT EXISTS(SELECT user_id
                  FROM users
                  WHERE user_id = #{userId})
  </select>
  <update id="updateProfileMessage">
    update users
    set profile_message = #{profileMessage}
    where user_id = #{userId}
  </update>
  <update id="updateProfileImage">
    update users
    set profile_image_path = #{profileImagePath}
    where user_id = #{userId}
  </update>
</mapper>